:root {
	--border-radius: 10px;
}

*, *::before, *::after {
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'PressStart';
	src: url(./assets/font/PressStart2P-Regular.ttf);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: url(./assets/img/bg-image.webp);
	background-size: cover;
	font-family: 'PressStart', Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95vw;
	padding: 1rem;
	margin: 10px;
	border: 1px solid black;
	border-radius: var(--border-radius);
	backdrop-filter: blur(5px);
}

.header-logo {
	text-align: center;
}

.header-logo img {
	width: 12rem;
	height: auto;
}

.header-score {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2rem;
}

main {
	display: flex;
	flex: 1;
	align-items: center;
}
