:root {
	--border-radius: 10px;
}

*, *::before, *::after {
	margin: 0;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: lightblue;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95vw;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: var(--border-radius);
}

.header-logo {
	display: flex;
	align-items: center;
}

.header-logo img {
	width: 200px;
	height: auto;
}

.header-score {
	text-align: center;
}

main {
	display: flex;
	flex: 1;
	align-items: center;
}
