.cards-container {
	display: grid;
	grid-template-columns: repeat(5, 180px);
	grid-template-rows: repeat(2, 1fr);
	padding: 20px;
	border: 1px solid black;
	border-radius: var(--border-radius);
	backdrop-filter: blur(5px);
}

.card {
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card img {
	width: 90%;
	height: auto;
}

.card p {
	font-size: small;
	text-align: center;
	display: flex;
	flex: 1;
	align-items: center;
}
